# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\luizh\Desktop\Atividades 1 Periodo - PUC\Lab AEDS\Lista de Exercicios 03 AEDS\Recursividade-Vetores-e-Matrizes-Java\Atividade 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
